body {
    font-family:verdana;
    text-align:center;
    background-color: rgb(24, 15, 18);
    color: rgb(245, 230, 235);
}

h1 {
    font-size: 300%;
    color: rgb(247, 178, 201);
}

h2, h3, h4, h5, h6, b, strong {
    color: rgb(247, 178, 201);
}

.social-link:link {
    color: rgb(226, 109, 148);
    text-decoration: none;
}

.social-link:visited {
    color: rgb(226, 109, 148);
    text-decoration: none;
}

.social-link:hover, .social-link:active {
    color: crimson;
    text-decoration: underline;
}

hr {
    color: rgba(247, 178, 201, 0.25);
    width: 60%
}

.button-88x31 {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}